
{% extends 'base.html' %} 
{% block content %}
{% load staticfiles %}
  <style type="text/css">
   .profile {
    min-height: 355px;
    display: inline-block;
    font-size:30px;
    }
    .input-group {
    margin: 20px auto;
    width: 100%;
  }
  .img-responsive {
     height:45%;
     width:45%;
  }

  input.btn.btn-lg,
  input.btn.btn-lg:focus {
      outline: none;
      width: 60%;
      height: 60px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .input-group .btn {
      width: 25%;
      height: 60px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .icon{
    width:70px;
    height:70px;
    margin-left: -15px;
    margin-right: 15px;
  }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/clock.css'%}">  
    <div id="clock" class="light">
      <div class="display">
        <div class="ampm"></div>
        <div class="digits"></div>
      </div>
    </div>
    <div class="container col-md-offset-2">
      <div class="col-md-8">
        <div>
        <form accept-charset="UTF-8" >
          <div class="input-group">
            <img class="icon" src="{% static 'icon/p7.png' %}">     
            <select id = "user" class="form-control col-md-4" >
              {% for s in student%}
              <option value="{{s.pk}}">{{s.c_g}} | {{s.s_id}} | {{ s.name }}</option>
              {% endfor %}
            </select>
             <input class="btn btn-lg" id="number" type="text" placeholder="card number" required autofocus>
             <button class="btn btn-info btn-lg" type="submit">Signature</button>
          </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 profile">
          <div class="alert alert-success" id="success-message" style="display: none;"></div>
          <div class="alert alert-danger" id="error-message" style="display: none;"></div>
            <div class="pricign-box">
                <div class="pricing-box-header">
                    <h2 class="text-success" id ="profile_user"></h2>
                </div>
                  <figure style="padding-top:30px;margin-left:250px;">
                    <img id="profile_pic" src="" class="img-rounded img-responsive">
                  </figure>
                <div class="pricing-box-content">
                    <ul class="list-unstyled">
                      <li><strong>Class : </strong> <span id="profile_class"></span></li>
                      <li><strong>Student ID : </strong> <span id="profile_s_id"></span></li>
                      <li><strong>Timestamp : </strong><span id="timestamp"class="text-danger"></span></li>
                      <li><strong>State : </strong><span id="state"class="text-danger"></span></li>
                    </ul>
                </div>
                <div class="pricing-box-footer">
                </div>
            </div> <!-- pricing-box -->
        </div>

    </div> <!-- /container -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/clock.js'%}"></script>
<script type="text/javascript">
var url = window.location.toString();
var unit="10";
$(function() {
  //url =url.replace(/.*signature\//, '');
  //unit = url.replace('\/',"");
  $('form').on('submit', function (e) {
    e.preventDefault();
    sign();
  });
});
function showSuccessMsg(text){
  $("#success-message").text(text);
  $('#success-message').fadeIn( "slow", function(){});
  $('#success-message').delay(1500).fadeOut( "slow", function() {
  });
}
function showErrorMsg(text){
  $("#error-message").text(text);
  $('#error-message').fadeIn( "slow", function(){});
  $('#error-message').delay(1500).fadeOut( "slow", function() {
  });
}

function sign(btn,field){
  $.ajax({
    url: "/commit_fb" , 
    type: 'POST', 
    data: {
      'unit': unit,
      'number': $("#number").val(),
      'user': $("#user").val(),
    },
    success: function(msg) {
      $("#number").val("");
      if (typeof(msg)=='object'){
        $("#profile_class").html(msg['class']);
        if (msg['pic']!=null)
          pic = "/static/media/default.jpg";
        else
          pic ="/static/media/"+msg['pic'];
        $("#profile_pic").attr('src',pic);
        $("#profile_user").html(msg['name']);
        $("#profile_s_id").html(msg['sid']);
        $("#timestamp").html(msg['timestamp'].split('.')[0]);
        $("#state").html(msg['state']);
        showSuccessMsg("Signature Success!!");
      }
    },
    error: function(msg) {
      $("#number").val("");
      showErrorMsg(msg);
    }
  });
}


</script>
{% endblock %}
