
{% extends 'base.html' %} 
{% block content %}
{% load staticfiles %}  
<style type="text/css">
    thead{
        color:#fff;
        background-color: rgba(255,255,255,0.4);
    }
    tbody{
        color:#EAFF6F;
        background-color: rgba(255,255,255,0.2);
    }
     .paginate_button >a{
        color:#3366FF;

    }
</style>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
    <div class="container">
        {% if list %}
        <table id="example" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>StudentID</th>
                <th>Name</th>
                <th>State</th>
            </tr>
        </thead>
 
        <tbody>
          {% for p in list%}
            <tr>
                <td>{{p.sig_time}}</td>
                <td>{{p.ref_std.s_id}}</td>
                <td>{{p.ref_std.name}}</td>
                <td >{{p.state}}</td>
            </tr>
           {% endfor %}
        </tbody>
        {% else %}
        <div class="profile">
        <h1>No records found.</h1>
    </div>
        {% endif %}
    </table>
        </div>
    </div>

    </div> <!-- /container -->
<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    $('#example').dataTable();
} );

  </script>
{% endblock %}