
{% extends 'base.html' %} 
{% block content %}
{% load staticfiles %}
<style type="text/css">
	.text-success{
		color:#5DFD60;
	}
	.co-in{
		color:#5DFD60;
		font-size:20px;
	}
	.text-warning{
		color:#FFFB60;
	}
	.co-out{
		color:#FFFB60;
		font-size:20px;
	}
</style>
<div class="container col-md-offset-2">
    <div class="col-md-12">
      <h1 class="page-header"> 學生記錄查詢</h1>
  
      <div stlye="padding-bottom:30px;">
      <form accept-charset="UTF-8" action="/std_search" method="post">
        <div class="input-group">
          <img class="icon" src="{% static 'icon/p7.png' %}">     
           <input class="btn btn-lg" name="name" type="text" placeholder="name or student id" required autofocus>
           <button class="btn btn-info btn-lg" type="submit">Search</button>
        </div>
        </form>
        <h2><span style="color:white;">{{state}}</span></h2>
      </div>
      {% if list %}
      <table id="example" class="table table-bordered" cellspacing="0" width="100%" >
      <thead>
          <tr>
              <th>Timestamp</th>
              <th>Topic</th>
              <th>StudentID</th>
              <th>Name</th>
              <th>state</th>
          </tr>
      </thead>

      <tbody>
        {% for p in list%}
          <tr>
              <td>{{p.sig_time}}</td>
              <td>{{p.ref_unit.title}}</td>
              <td>{{p.ref_std.s_id}}</td>
              <td>{{p.ref_std.name}}</td>
              <td>{{p.state}}</td>
          </tr>
         {% endfor %}
      </tbody>
      {% endif %}
    </div>
	</div>
</div>

<script type="text/javascript">
$(function(){
	$('tbody > tr').each(function(){
		var status = $(this).children('td').eq(4);
		if (status.text() == "signin"){
			status.html("<span class='text-success'> IN "+"<i class='fa fa-sign-in co-in'></i> </span>");
		} else {
			status.html("<span class='text-warning'> <i class='fa fa-sign-out text-danger co-out'></i>"+" OUT </span>");
		}
	})
});
</script>
{% endblock %}
